<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
          <div class="bg-white">
                <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                    <div class="max-w-md w-full space-y-8">
                    <div>
                        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                        Edit Patient
                        </h2>
                    </div>
                    <form class="mt-8 space-y-6" [formGroup]="editPatientForm" (ngSubmit) = "onSubmit()">
                        <div class="grid grid-cols-2 gap-2">
                            <div>
                                <div class="rounded-md shadow-sm -space-y-px">
                                    <div>
                                        <label for="name" class="">Name <span class="text-red-900">*</span></label>
                                        <input id="name" name="email" type="text" formControlName="name" 
                                        [ngClass]="getControls['name'].invalid && (getControls['name'].dirty || getControls['name'].touched || submitted) ? 'error' : '' "
                                        required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="rounded-md shadow-sm -space-y-px">
                                    <div>
                                        <label for="age" class="">Age<span class="text-red-900">*</span></label>
                                        <input id="age" name="age" type="number" formControlName = "age"
                                        [ngClass]="getControls['age'].invalid && (getControls['age'].dirty || getControls['age'].touched || submitted) ? 'error' : '' "
                                        required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Age">
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="grid grid-cols-2 gap-2">
                            <fieldset>
                                <div class="grid grid-rows-4 grid-flow-col gap-2 mt-2 space-y-2 flex inline-flex">
                                    <div>
                                        <legend class="font-medium text-gray-900">Sex<span class="text-red-900">*</span></legend>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="male" name="sex" value="Male" formControlName="sex"
                                        type="radio" class="focus:ring-indigo-500 h-4 text-indigo-600 border-gray-300">
                                        <label for="male" class="ml-2 block text-sm font-medium text-gray-700">
                                            Male
                                        </label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="female" name="sex" value="Female" formControlName="sex"
                                        type="radio" class="focus:ring-indigo-500 h-4 text-indigo-600 border-gray-300">
                                        <label for="female" class="ml-2 block text-sm font-medium text-gray-700">
                                            Female
                                        </label>
                                    </div>
                                    <div class="flex items-center">
                                        <input id="undisclosed" name="sex" value="Undisclosed" formControlName="sex"
                                        type="radio" class="focus:ring-indigo-500 h-4 text-indigo-600 border-gray-300">
                                        <label for="undisclosed" class="ml-2 block text-sm font-medium text-gray-700">
                                            Undisclosed
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="rounded-md shadow-sm -space-y-px">
                                <label for="date" class="">Check In Date<span class="text-red-900">*</span></label>
                                <input id="date" name="date" type="date" formControlName = "checkInDate" 
                                [ngClass]="getControls['checkInDate'].invalid && (getControls['checkInDate'].dirty || getControls['checkInDate'].touched || submitted) ? 'error' : '' "
                                required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" 
                                placeholder="Check In Date">
                            </div>
                        </div>
                        
                        <div class="float-right">
                            <button type="button" (click)="closeEditPatientModal.emit()"
                            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Cancel
                            </button>
                            <button type="submit"
                            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-emerald-400 text-base font-medium text-white hover:bg-emerald-400 focus:outline-none sm:ml-3 sm:w-auto sm:text-sm">
                            Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
  
